body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav{
    background: rgba(45,45,45,0.98);
}
.haut{
    fill: white;
    transform: translateY(7px);
}
nav a:hover, .haut:hover{
    opacity: .65;
}
.ici{
    fill: white;
    transform: translateY(5px);
}
.ici:hover{
    opacity: .65;
}
nav{
    height: 42px;
    align-items: center;
    width: 80%;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(10, 1fr);
}

nav a{
    color: white;
    text-decoration: none;
}
.first{
    background: url('img/test.jpg') no-repeat;
   background-size: cover;
}
span{
    border: 1px transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
}

/*****slide *****************/
.slide_right{
    display: none;
    width: 40%;
    min-width: 260px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    border: 1px solid black;
    background: rgb(56, 56, 56);
    transition: .3s;
    margin-left: auto;
    transform: translateX(100%);
}
.slide_retour{
    transform: translateX(0);
}


.slide_right a{
    border: 1px solid black;
    padding: 8px 15px;
    display: block;
    color: white;;
}
/***************slide plus haut*******************/
.hamburger_button, #hamburger_button{
    margin-left: auto;
    display: none;
    color:white;
    font-size: 2.3em;
    cursor: pointer;
    padding: 0;
    margin-right: 32px;
    background: none;
    border: none;
    margin-bottom: 8px;
    margin-top: -10px;
}
header{
    overflow: hidden;
}
button{
    cursor: pointer;
}
.connexion{
    color: #D51A29;
    background-color: white;
}
h1{
    font-size: 60px;
    margin: 12px;
}
main{
    padding: 0px 120px;
}
.left{
    margin-right: 60px;
    color: white;
}
main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#connect{
    margin-top: 20px;
}
header{
    padding-top: 0;
}
main{
    padding-top: 25px;
}
 input{
    letter-spacing: 0.2mm;
    width: 190px;
    height: 30px;
    border-radius: 2px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10px;
    background-color: rgba(126, 123, 123, 0.7);
    text-indent: 5px;
    border: 1px transparent;
    color: #ffffff;
    font-weight: 400;
    text-indent: 10px;
    z-index: 1;
}
input::-webkit-input-placeholder{
    color:rgb(230, 230, 230);
}
.form1 button{
    height: 35px;
    border-radius: 30px;
    padding: 0 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: #D51A29;
    color: white;
}
.form1 input{
    margin-right: 10px;
}
 
}
main .joky{
    line-height: 1.7;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
    color: white;
}
.create{
    font-size: 22px;
    font-weight: 600;
    margin-top: 80px;
    color: white;
}
.form2{
    margin-top: 35px;
    padding-bottom: 80px;
}
#email_bas, #tel{
    width: 405px;
}
.form2 button{
    text-align: center;
    width: 195px;
    height: 35px;
    border-radius: 30px;
    padding: 3px 10px;
    margin-right: 15px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

}
.form2 p{
    margin-bottom: 20px;
}
.second{
    padding-top: 70px;
    display: flex;
    padding-bottom: 30px;;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    width: 90%;
}
.second p{
    color: rgb(124, 123, 123);
}
.second section{
    width: 35%;
}
.facebook::before{
    content: '';
    background: url('img/facebook3.png') center center;
    margin-right: 2px;
    width: 15px;
    height: 15px;
    display: inline-block;
    color: white;
    transform: translateY(2px);
}
@media screen and (max-width: 1278px){
   main{
       flex-flow: row wrap;
   } 
   .right{
        padding-bottom: 20px;
   }
   .form2{
       margin-bottom: 0;
       padding-bottom: 0;
   }
}
@media screen and (max-width: 1241px){
    .form1 button{
        display: block;
        margin-top: 25px;
    }
}
@media screen and (max-width: 735px){
    .left{
        margin-right: 0;
    }
    main{
        padding-right: 0px;
        padding-left: 0px;
        margin: auto;
        width: 85%;
    }
}

@media screen and (max-width: 555px){
    .form2{
        flex-flow: column;
    }
    input{
        width: 100%;
    }
    .left{
        margin: auto;
        width: 90%;
    }
    #email_bas{
        width: 100%;
    }
    .right{
        width: 90%;
        margin: auto;
    }
    .form2 p{
        margin-bottom: 0;
        margin-top: 0;
    }
    input{
        margin-bottom: 20px;
        height: 40px;
    }
}
@media screen and (max-width: 1156px){
    .hamburger_button{
        display: block;
    }
    .slide_right{
        display: block;
        z-index: 5;
    }
    header{
        padding-right: 0;
    }
    .ici, .haut{
        transform: translateY(15px);
    }
    .slide_right a{
        max-height: 30px;
        text-decoration: none;
        border-bottom: 1px silver;
        transition: .3s;
        border-left: 3px solid rgb(129, 129, 129);
    }
    .slide_right a:hover{
        margin-left: 5px;
        text-decoration: underline;
    }
}
@media screen and (max-width: 765px){
    nav{
        width: 100%;
        display: none;
    }
    #hamburger_button{
        display: block;
        color: white;
        font-size: 30px;
        padding: 0;
        float: right;
        margin-right: 32px;
        margin-left: 10px;
        background: rgba(45,45,45,0.98);
        border: none;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .nav{
        overflow: hidden;
        background: rgba(45,45,45,0.98);
    }

}
@media screen and (max-width: 1000px){
    nav{
        width: 100%;
    }
}
